body {color:#ffffff;background-color:#37373f;font-family:Calibri,Arial,sans-serif;}
h1 {font-family:"Calibri Light",Calibri,Arial,sans-serif;}
a:link,a:visited {color:#00bfff;text-decoration:none;font-family:Calibri,Arial,sans-serif;}
a:hover,a:active {color:#7fcfff;text-decoration:underline;font-family:Calibri,Arial,sans-serif;}
